DATABASE_URL= "YOUR_DATABASE_LINK"
PORT= 3000
ACCESS_TOKEN_SECRET= "AUTO GENERATED ACCESS_TOKEN"
REFRESH_TOKEN_SECRET= "AUTO GENERATED REFRESH_TOKEN"
RESET_TOKEN_SECRET= "AUTO GENERATED RESET_TOKEN"

EMAIL="YOUR OWN EMAIL"
EMAIL_PASSWORD="YOUR OWN PASSWORD"
